{% extends 'base.html' %}

{% block title %}Detalhes do Médico{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Detalhes do Médico</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong>Nome Completo:</strong> {{ medico.nome_completo }}</li>
        <li class="list-group-item"><strong>Nome de Usuário:</strong> {{ medico.username }}</li>
        <li class="list-group-item"><strong>CRM:</strong> {{ medico.crm }}</li>
        <li class="list-group-item"><strong>Especialidade:</strong> {{ medico.especialidade }}</li>
        <li class="list-group-item"><strong>Email:</strong> {{ medico.email }}</li>
    </ul>
    <a href="{{ url_for('novo', id=medico.id) }}" class="btn btn-warning mt-3">Editar</a>
    <a href="{{ url_for('excluir_medico_view', id=medico.id) }}" class="btn btn-danger mt-3">Excluir</a>
    <a href="{{ url_for('listar_medicos') }}" class="btn btn-secondary mt-3">Voltar</a>
</div>
{% endblock %}
